ul {
	list-style-type: none;
	overflow: hidden;
}

li {
	float: left;
}

li.link-parent {
	text-decoration: none;
	display: block;
	padding-left: 20px;
}

li.link-child {
	padding-left: 5px;
	padding-right: 5px;
	&:hover {
		background-color: #111111;
		cursor: pointer;
	}
}

.link-parent {
}

.toolbar {
	height: 60px;
	margin: -8px;
	display: flex;
	align-items: center;
	background-color: #1976d2;
	color: white;
	font-weight: 600;
}

.toolbar img {
	margin: 0 16px;
}

.toolbar #twitter-logo {
	height: 40px;
	margin: 0 16px;
}

.toolbar #twitter-logo:hover {
	opacity: 0.8;
}

.cls-1 {
	fill: none;
}

.cls-2 {
	fill: #ffffff;
}
